body {
  max-width: 500px;
  margin: 0 auto;
  background-color: #060000;
  font-family: 'Exo 2', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.sound-buttons .btn .showRandomChoice {
  background-color: rgb(24, 209, 212);
  color: #000000;
  border: 2px solid #051ceb;
}

#player div {
  display: inline-block;
  width: 111px;
  height: 111px;
  line-height: 111px;
  background-color: rgb(24, 150, 212);
  color: #000000;
  margin: 4px 2px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
  position: relative;
  border: 2px solid #2005eb;
}

#player div:hover {
  background-color: black;
  color: white;
}

#randomizer {
  margin-top: 30px;
  padding: 20px;
  background-color: rgb(241, 16, 136);
  border: 2px solid black;
  font-family: 'Exo 2', sans-serif;
}

#randomizer:hover {
  background-color: rgb(129, 82, 190);
  color: white;
}

